page-register {
  ion-content {
    background: linear-gradient(to bottom, #1565c0, #42a5f5);

    .item-md,
    .item-ios {
      background: none;
      padding: 0 16px;
    }

    .input-color {
      color: white;
    }

    .register-button {
      margin-top: 40px;
    }
  }
}
