<ion-content padding>
  <button ion-button clear navPop color="light">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>

  <ion-item>
    <ion-label floating color="light">Title</ion-label>
    <ion-input type="text" class="input-color" [(ngModel)]="metadata.title"></ion-input>
  </ion-item>

  <!--ion-item>
    <ion-label floating color="light">Latitude</ion-label>
    <ion-input type="text" class="input-color" disabled [(ngModel)]="metadata.latitude"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating color="light">Longitude</ion-label>
    <ion-input type="text" class="input-color" disabled [(ngModel)]="metadata.longitude"></ion-input>
  </ion-item-->

  <ion-item>
    <ion-label floating color="light">Location</ion-label>
    <ion-input type="text" class="input-color" disabled [(ngModel)]="metadata.location"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating color="light">Description</ion-label>
    <ion-textarea type="text" class="metadata-description" [(ngModel)]="metadata.description"></ion-textarea>
  </ion-item>

  <button ion-button block color="danger" icon-left *ngIf="!canTakePicture" class="take-picture-button" (click)="checkLocation()">
    <ion-icon name="compass"></ion-icon>
    Get location
  </button>

  <button ion-button block color="danger" icon-left *ngIf="canTakePicture" class="take-picture-button" (click)="takePicture()">
    <ion-icon name="camera"></ion-icon>
    Take picture
  </button>
</ion-content>