<ion-content padding>
  <button ion-button clear navPop color="light">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{photo.user.avatarURL}}">
      </ion-avatar>
      <h2>{{photo.user.pseudo}}</h2>
      <p>{{photo.createdAt | date : 'MMMM d, y - HH:mm:s'}}</p>
    </ion-item>

    <img src="{{photo.pictureURL}}">

    <ion-row *ngIf="!input">
      <ion-col>
        <ion-item>
          <ion-label>{{photo.metadata?.title}}</ion-label>
        </ion-item>
        <button ion-button *ngIf="user.uid == photo.user.uid" (click)="showInput()">
          <ion-icon name="create"></ion-icon>
          Update
        </button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="input">
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="photo.metadata.title"></ion-input>
        </ion-item>
        <button ion-button (click)="updateMetadata()">
          <ion-icon name="create"></ion-icon>
          Validate
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{photo.metadata?.location}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
