<ion-header no-border>
  <ion-navbar transparent color="primary"></ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="{{photo.user.avatarURL}}">
      </ion-avatar>
      <h2>{{photo.user.pseudo}}</h2>
      <p>{{photo.createdAt | date : 'MMMM d, y - HH:mm:s'}}</p>
    </ion-item>

    <img src="{{photo.pictureURL}}">

    <ion-item *ngIf="user.uid == photo.user.uid">
      <ion-buttons end *ngIf="!input">
        <button ion-button outline small color="primary" icon-left (click)="showInput()">
          <ion-icon name="create"></ion-icon>
          EDIT
        </button>
        <button ion-button outline small color="danger" icon-left (click)="deletePhoto()">
          <ion-icon name="close"></ion-icon>
          DELETE
        </button>
      </ion-buttons>
      <ion-buttons end *ngIf="input">
        <button ion-button outline small color="secondary" icon-left (click)="updateMetadata()">
          <ion-icon name="checkmark"></ion-icon>
          UPDATE
        </button>
        <button ion-button outline small color="danger" icon-left (click)="showInput()">
          <ion-icon name="close"></ion-icon>
          CANCEL
        </button>
      </ion-buttons>
    </ion-item>

    <div *ngIf="!input" class="photo-info">
      <p>
        <b>{{photo.metadata?.title}}</b>
      </p>
      <p class="photo-location">{{photo.metadata?.location}}</p>
      <p>{{photo.metadata?.description}}</p>
    </div>

    <ion-item *ngIf="input">
      <ion-input [(ngModel)]="photo.metadata.title"></ion-input>
    </ion-item>
    <ion-item *ngIf="input">
      <ion-textarea [(ngModel)]="photo.metadata.description"></ion-textarea>
    </ion-item>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small color="{{like ? 'secondary' : 'primary'}}" (click)="favorites()">
          <ion-icon name="{{like ? 'star' : 'star-outline'}}"></ion-icon>
          <div>Favorites</div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>