<ion-header no-border>
  <ion-navbar transparent>
    <button ion-button clear color="light" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <ion-fab bottom right *ngIf="user.uid" #fab>
    <button ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="danger" (click)="addPhotoPage(fab)">
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

  <photo-component *ngFor="let photo of photos | async; let i = index" [photo]="photo" [index]="i"></photo-component>
</ion-content>