ion-content {
  background: linear-gradient(to bottom, #1565c0, #42a5f5);

  .item-md,
  .item-ios {
    background: none;
  }

  .menu-title {
      text-align: center;
      margin-bottom: 40px;
  }

  .menu-button {
    color: #f4f4f4;
  }

  ion-icon {
    margin: 0 10px;
  }
}
