ion-content {
  background: linear-gradient(to bottom, #1565c0, #42a5f5);

  .item-md,
  .item-ios {
    background: none;
  }

  .user-avatar {
    text-align: center;

    ion-label {
      margin-top: 26px;
      margin-right: 0;
      margin-bottom: 0;

      img {
        border-radius: 50%;
        width: 90px;
        height: 90px;
      }
    }
  }

  .user-pseudo {
    text-align: center;
    margin-top: 0;
  }

  .list-md,
  .list-ios {
    margin-top: 20px;

    .menu-button {
      color: #f4f4f4;

      ion-icon {
        margin: 0 10px;
      }
    }
  }
}
