<ion-menu [content]="content">
    <ion-content>
        <ion-item no-lines>
            <ion-label color="light" class="menu-title">{{email || 'Menu'}}</ion-label>
        </ion-item>

        <ion-list no-lines>
            <button menuClose ion-item class="menu-button" *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
            <button menuClose *ngIf="email" ion-item class="menu-button" (click)="logout()">Logout</button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>