<ion-menu [content]="content">
    <ion-content>
        <ion-item no-lines class="user-avatar" *ngIf="user.avatarURL">
            <img src="{{user.avatarURL}}">
        </ion-item>
        <ion-item no-lines *ngIf="user.pseudo">
            <ion-label color="light" class="user-pseudo">{{'@' + user.pseudo}}</ion-label>
        </ion-item>

        <ion-list no-lines>
            <button menuClose ion-item class="menu-button" *ngFor="let p of pages" (click)="openPage(p)">
                <ion-icon *ngIf="p.title == 'Home'" name="home"></ion-icon>
                <ion-icon *ngIf="p.title == 'Login'" name="log-in"></ion-icon>
                <ion-icon *ngIf="p.title == 'Register'" name="person-add"></ion-icon>
                <ion-icon *ngIf="p.title == 'Account'" name="person"></ion-icon>
                {{p.title}}
            </button>
            <button menuClose *ngIf="user.pseudo" ion-item class="menu-button" (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>